/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
/*----------------------------------------------------------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-grey: #cdcdcd;
  --color-black: #292922;
  --color-peach: #f1cdb3;
  --color-title: #545454;
  --color-text: #4c4c4c;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

._container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 40px;
}

.main {
  flex: 1 1 auto;
  background-color: #f6f6f6;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 16px;
}

/*---------------------------------------------HEADER----------------------------------------*/

.header {
  background-color: #ffffff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 30px 40px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo-title {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}

.header__logo-subtitle {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
  margin-top: 10px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 37px 0px 0px;
}

.menu__item:nth-child(2) {
  border-bottom: 3px solid var(--color-peach);
}

.menu__link {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 159%;
  color: #545454;
  letter-spacing: 0.006em;
}

.menu__link:hover {
  color:#292929;
}

/*---------------------------------------------MAIN--------------------------------------------------*/

.pets__container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._title {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.pets__title span {
  display: block;
  text-align: center;
}

.pets__title {
  margin-bottom: 59px;
}

.pets__slider {
  display: flex;
  align-items: center;
  padding: 0px 40px;
  margin-bottom: 60px;
}

.pets__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.pets__card {
  background-color: #fafafa;
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  transition:  0.3s ease 0s;
}

.pets__card:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__card-image {
  margin-bottom: 30px;
  border-radius: 9px;
}

.pets__card-name {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 28px;
}

.button_bordered {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-black);
  border: 2px solid #f1cdb3;
  background-color: #fafafa;
  padding: 15px 45px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s ease 0s;
}

.pets__card:hover .button_bordered {
  background-color: #fddcc4;
  border: 2px solid transparent;
}

.pets__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  margin-bottom: 100px;
}

.pets__buttons button {
    width: 52px;
    height: 52px;
    background: none;
    cursor: pointer;
    border-radius: 100%;
}

.button-current-page,
.button-next:hover,
.button-next-next:hover {
    cursor: pointer;
    background-color: #fddcc4;
}

/*---------------------------------------FOOTER--------------------------------------------------*/
.contacts {
  background: url("../../assets/images/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.contacts__container {
  padding: 40px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  margin-bottom: 39px;

}

.contacts__title span {
  display: block;
  color: #ffffff;
}

.contacts__location {
  margin-left: -8px;
}

.contacts__contacts,
.contacts__location {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.contacts__phone span,
.contacts__mail span,
.contacts__boston span,
.contacts__london span {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-left: 14px;
}

.contacts__boston {
  display: flex;
  margin-bottom: 12px;
}

.boston__contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: -9px 0px 18px 0px;
}

.boston__contact span {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #f1cdb3;
  margin-left: 20px;
}

.contacts__boston span:last-child {
  margin-top: -9px;
}

.contacts__boston span {
  display: block;
}

.contacts__mail {
  margin-bottom: 40px;
}
